.del-elem i {
  visibility: hidden;
}

.del-elem:hover i {
  visibility: visible;
}

tbody tr:last-child .del-elem i {
  visibility: visible;
}

#order td,
#order th {
  vertical-align: middle;
}

#order td:nth-child(1),
#order th:nth-child(1) {
  width: 1%;
  min-width: 15px;
}

#order td:nth-child(2) {
  width: 29%;
  min-width: 60px;
}

#order td:nth-child(3) {
  width: 13%;
  min-width: 42px;
}

#order td:nth-child(4) {
  width: 14%;
  min-width: 53px;
}

#order td:nth-child(5) {
  width: 13%;
  min-width: 42px;
}

#order td:nth-child(6) {
  width: 20%;
  min-width: 85px;
}

#order td:nth-child(7) {
  width: 5%;
  min-width: 20px;
}

#order td:nth-child(8) {
  /*width: 5%;*/
  min-width: 20px;
}

#users th:nth-child(1),
#users td:nth-child(1) {
  max-width: 200px;
}

#users th:nth-child(2),
#users td:nth-child(2) {
  min-width: 50px;
}


@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }

  .table td,
  .table th {
    padding: 0.5rem;
  }

  .form-control {
    padding: .2rem .4rem;
    height: calc(1.2em + .75rem + 2px);

  }

  .del-elem i {
    visibility: visible;
  }
}

@media screen and (max-width: 576px) {
  html,
  body {
    font-size: 11px;
  }

  .table td,
  .table th {
    padding: 0.3rem;
  }

  .form-control {
    padding: 0.175rem .35rem;
    height: calc(1.2em + 0.75rem + 2px);
  }
}