pytz~=2019.2
django~=2.2.5
psycopg2
#pyTelegramBotAPI
pysocks
django-hosts
opencv-python~=4.1.1.26
pillow~=6.1.0
requests~=2.22.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
mcstatus
transliterate~=1.10.2
lxml
matplotlib~=3.2.1
pytest
pygments~=2.6.1
wikipedia~=1.4.0
pydub~=0.23.1
SpeechRecognition
numpy~=1.17.2
cv2
youtube_dl