[Unit]
Description=xoma163.site django

[Service]
User=server
Restart=always
RestartSec=5
Nice=1
SuccessExitStatus=0 1
WorkingDirectory=/var/www/xoma163site/
ExecStart=/var/www/xoma163site/venv/bin/uwsgi --ini config/uwsgi.ini
ExecStop=/var/www/xoma163site/venv/bin/uwsgi --stop config/xoma163site.pid

[Install]
WantedBy=multi-user.target