[Unit]
Description=xoma163.bot

[Service]
User=server
Type=simple
SuccessExitStatus=0 1
WorkingDirectory=/var/www/xoma163site/
ExecStart=/var/www/xoma163site/venv/bin/python -u manage.py start

[Install]
WantedBy=multi-user.target