{% extends 'base.html' %}
{% load static %}

{% block title %}
  Чат
{% endblock %}
{% block body %}
  {% csrf_token %}
  <div class="container-fluid">
    <div>
      <label>Команда</label>
    </div>
    <div>
      <input type="text" style="width:400px;" name="command">
    </div>
    <div>
      <label>Ответ</label>
    </div>
    <div>
      <textarea name="result" style="width:400px;" cols="20" rows="20"></textarea>
    </div>
    <div>
      <button class="btn btn-success" onclick="sendCommand()">Отправить</button>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script type="application/javascript" src="{% static "web/js/chat.js" %}"></script>
{% endblock %}

