<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eugene</title>
</head>
<body>
<h2 class="center-text" id="my-articles">Мои статьи епт</h2>

<div class="articles">
  <div class="article">
    <div class="article-headline">
      Утконос - не стоп слово
    </div>
    <div class="article-content">
      Утконосс уу усука это не стоп слово, сука, это контрабанда .уу ждовфыдлв одлфыо дфылов фдылов фдылов щшйцг
      щшофыдлов дфлыо вщшфыв офдыл вфыдов
    </div>
  </div>
  <div class="article">
    <div class="article-headline">
      Lorem ipsum
    </div>
    <div class="article-content">
      <div class="article-image">
        <img src="https://i.pinimg.com/originals/1c/ba/1e/1cba1e5e40356f6edb0235c8a09a07d5.jpg">
      </div>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aut dolores eaque excepturi ipsam
        molestiae necessitatibus ut velit? Accusantium dolores eius laborum magnam minima neque nostrum obcaecati
        quisquam sed vitae?
      </div>
      <div>Autem consequuntur cum, ex explicabo facere id impedit laborum libero minus molestiae neque perferendis
        perspiciatis quod, tempore temporibus veniam voluptate. Atque doloribus, explicabo harum illo molestiae ratione
        recusandae velit. Alias?
      </div>
    </div>
  </div>
  <div class="article">
    <div class="article-headline">

    </div>
    <div class="article-content">

    </div>
  </div>

</div>

<ul>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
</ul>

</body>


<style>
  .center-text {
    text-align: center;
    color: red;
  }

  .article {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .article-headline {
    font-weight: bold;
    font-size: 24px;
  }

  .article-image img {
    max-width: 300px;
  }
</style>


</html>